@font-face {
  font-family: 'Lovelace';
  src: url('./assets/Fonts/Zetafonts\ -\ Lovelace\ Text\ Regular.otf');
}
@font-face {
  font-family: 'Stars&Love';
  src: url('./assets/Fonts/Stars&Love-BottomHeavy.ttf');
}
@font-face {
  font-family: 'Lovelies Script';
  src: url('./assets/Fonts/TT\ Lovelies\ Script\ Trial-Regular.otf');
}
